body {
    background-color: aliceblue;
}


.board {
    width: 600px;
    height: 600px;
    background: #CCA28D;
    border: #999 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.status {
    width: 500px;
}

/*button {*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*border-radius: 10px;*/
    /*background: #806558;*/
    /*font-size: 64px;*/
/*}*/

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-row {
    display: flex;
    flex: 1;
    /*align-items: center;*/
}

.tile {
    float: left;
    padding: 5px;

    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.tile-inner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #806558;
}

.tile-inner:hover {
    background-color: #5f463e;
}